<div class="bounds">

  <div fxLayout="column" fxLayoutAlign="start stretch">

    <mat-toolbar>
      MyWork
      <span class="example-spacer"></span>
      <mat-icon class="xxx" routerLink="/home">power_settings_new</mat-icon>
    </mat-toolbar>

    <div>
      <form class="mywork-form search-form">
        <mat-form-field class="">
          <input class="search-form-input" matInput placeholder="Pesquisar" value="">
          <mat-icon matSuffix routerLink="/customer/search">search</mat-icon>
        </mat-form-field>
      </form>
    </div>


   <div>
     <mat-grid-list cols="3" rowHeight="1:1" class="sectors-tiles">
       <mat-grid-tile class="sectors-tiles-item" *ngFor="let sector of sectorList">
         <div routerLink="/customer/search">
           <img class="sectors-tiles-item-image" [src]="sector.viewImage" [alt]="sector.viewValue">
           <span class="sectors-tiles-item-description">{{sector.viewValue}}</span>
         </div>
       </mat-grid-tile>
     </mat-grid-list>
   </div>


  </div>
</div>




<div class="main-button">
  <button mat-fab color="primary" routerLink="/messages">
    <mat-icon aria-label="Abrir mensagens">send</mat-icon>
  </button>
</div>
