<div fxFill class="bounds startup">

  <div fxFill fxLayout="column" fxLayoutAlign="space-between center">

  <mat-toolbar><button mat-button routerLink="/home"><mat-icon aria-label="Voltar">keyboard_arrow_left</mat-icon>Voltar</button>Login</mat-toolbar>

    <div class="startup-logo">
      <h1>MyWork</h1>
    </div>

    <div class="startup-action">
      <div class="startup-action">
        <div class="center">
          <div class="mywork-form">

            <mat-form-field class="full-width">
              <input matInput="email" placeholder="E-mail" value="" required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput="password" placeholder="Senha" value="" required>
            </mat-form-field>

            <div>
              <a mat-raised-button color="primary" (click)="loginClick()" >Login</a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
