<div class="bounds">

  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    MyWork
    <!--<span class="example-spacer"></span>-->
    <mat-icon fxFlexAlign="center flex-end" routerLink="/home">power_settings_new</mat-icon>
  </mat-toolbar>


    <div>
      <h1 class="title">Historico de Conversas</h1>
      <app-messages-list></app-messages-list>
    </div>

</div>




<div class="main-button">
  <button mat-fab color="primary" routerLink="/messages">
    <mat-icon aria-label="Abrir mensagens">send</mat-icon>
  </button>
</div>
