<div class="messages">
  <div *ngFor="let message of messageList">
    <div class="messages-item" fxLayout="row" routerLink="/messages/view">

      <div fxFlex="20">
        <img class="messages-item-image" [src]="message.user.viewImage">
      </div>

      <div fxFlex="80">
        <span class="no-wrap messages-item-name">{{message.user.viewValue}}</span>
        <span class="messages-item-text">{{message.text}}:&nbsp;</span>
      </div>

    </div>
    <mat-divider></mat-divider>
  </div>
</div>
