.sectors-tiles {
  margin-bottom: 56px;
  .sectors-tiles-item {
    .sectors-tiles-item-image {
      max-width: 50%;
      width: 64px;
      display: block;
      margin: 0 auto;
    }
    .sectors-tiles-item-description {
      display: block;
      text-align: center;
    }
  }
}
