
<div fxFill class="bounds startup">
  <div fxFill fxLayout="column" fxLayoutAlign="space-between center">

    <div>
      <!--Keet this to keep the page alignment-->
    </div>

    <div class="startup-logo">
      <h1>MyJob</h1>
    </div>

    <div class="startup-action">
      <a mat-raised-button color="primary" routerLink="/signup">Criar uma nova conta</a>
      <a mat-button routerLink="/signin">Fazer Login</a>
    </div>

  </div>
</div>



<!--<div class="container startup">-->

<!--<div class="row">-->
<!--<div class="col-md-12">-->

<!--<div class="startup-logo center">-->
<!--<h1>MyJob</h1>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-12">-->

<!--<div class="startup-action">-->
<!--<div class="center">-->
<!--<a mat-raised-button color="primary" routerLink="/signup">Criar uma nova conta</a>-->
<!--</div>-->
<!--<div class="center">-->
<!--<a mat-button routerLink="/signin">Fazer Login</a>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--</div>-->
