<div class="search">

  <mat-toolbar><button mat-button class="botao_voltar" routerLink="/customer/home"><mat-icon aria-label="Voltar">keyboard_arrow_left</mat-icon>Voltar</button>Pesquisa</mat-toolbar>

  <div>
    <form class="mywork-form search-form">
      <mat-form-field class="full-width">
        <input class="search-form-input" matInput placeholder="Pesquisar" value="">
        <mat-icon matSuffix routerLink="/customer/search">search</mat-icon>
      </mat-form-field>
    </form>
  </div>


  <div class="search-results">
    <div *ngFor="let provider of commentsList">
      <div class="search-results-item" fxLayout="row" routerLink="/customer/profile">

        <div fxFlex="20">
          <img class="search-results-item-image" [src]="provider.viewImage">
        </div>

        <div class="search-results-item-more-info" fxFlex="80">
          <span class="no-wrap search-results-item-viewValue">{{provider.viewValue}}</span>
          <span class="no-wrap">
                <span class="search-results-item-sector">{{provider.sector.viewValue}}:&nbsp;</span>
                <span class="search-results-item-fields" *ngFor="let field of provider.fields">
                  {{field.viewValue}},&nbsp;
                </span>
              </span>
          <app-classification-stars class="search-results-item-classification" [classification]="provider.classification"></app-classification-stars>
        </div>


      </div>
      <mat-divider></mat-divider>
    </div>
  </div>

</div>
