$messagesItemsBorderRadius: 10px;

.messages-field {
  overflow-x: scroll;
  padding-top: 20px;

  .message-field-item {
    padding: 10px 15px 10px 15px;
    max-width: 80%;
    margin-bottom: 15px;

    .message-field-item-name {
      font-weight: bold;
      display: block;
    }

    .message-field-item-text {
      display: block;
      white-space: pre-wrap;
    }
  }

  .message-field-item.received-message {
    align-self: flex-start;
    background-color: #f7fcbb;
    border-bottom-right-radius: $messagesItemsBorderRadius;
    border-top-right-radius: $messagesItemsBorderRadius;
    margin-left: 0;
  }

  .message-field-item.sent-message {
    align-self: flex-end;
    background-color: #ccfcbe;
    border-bottom-left-radius: $messagesItemsBorderRadius;
    border-top-left-radius: $messagesItemsBorderRadius;
    margin-right: 0;
  }

}

.messages-write {
  background: white;
  padding-top: 5px;

  position: sticky;
  display: block;
  padding-bottom: 10px;
  bottom: 0;
  right: 0;
  left: 0;
}


