<div class="container startup">

  <div class="row">
    <div class="col-md-12">

      <div class="startup-logo center">
        <h1>MyJob</h1>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="startup-action">
        <div class="center">
          <div class="myjob-form">

            <mat-form-field class="full-width">
              <input matInput="email" placeholder="E-mail" value="" required>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput="password" placeholder="Senha" value="" required>
            </mat-form-field>

            <div class="center">
              <a mat-raised-button color="primary" routerLink="/home">Login</a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
