<div class="bounds">

  <div fxLayout="column" fxLayoutAlign="space-between center">

    <mat-toolbar>
      <button mat-button routerLink="/home">
        <mat-icon aria-label="Voltar">keyboard_arrow_left</mat-icon>
        Voltar
      </button>
      Criar Conta
    </mat-toolbar>

    <div class="mywork-form">
      <mat-tab-group>

        <mat-tab label="Cliente">
          <mat-form-field class="full-width">
            <input matInput="text" placeholder="Nome Completo" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="email" placeholder="E-mail" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="password" placeholder="Senha" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="password" placeholder="Repetir Senha" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="text" placeholder="CEP" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="text" placeholder="País" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="text" placeholder="Estado" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="text" placeholder="Cidade" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="text" placeholder="Bairro" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="text" placeholder="Logradouro (rua, avenida...)" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="number" placeholder="Número" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="text" placeholder="Complemento" value="" required>
          </mat-form-field>

          <div class="mywork-form-action">
            <a mat-raised-button color="primary" (click)="customerCreate()">Criar Conta</a>
          </div>
        </mat-tab>

        <mat-tab label="Prestador de Serviços">
          <mat-form-field class="full-width">
            <input matInput="text" placeholder="Seu Nome Completo" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="text" placeholder="Nome da Empresa" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="email" placeholder="E-mail" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="password" placeholder="Senha" value="" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput="password" placeholder="Repetir Senha" value="" required>
          </mat-form-field>

          <div class="full-width">
            <span>Distancia maxima dos Clientes *</span>
            <mat-slider  class="full-width"
                         max="200"
                         min="5"
                         step="5"
                         thumbLabel="true"
                         tickInterval="5">
            </mat-slider>
          </div>

          <mat-form-field class="full-width">
            <mat-select placeholder="Área e Especialidade(s)">
              <mat-option *ngFor="let sector of sectorList" [value]="sector.value">
                {{sector.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-selection-list #fields>
            <mat-list-option *ngFor="let field of fieldsList">
              {{field}}
            </mat-list-option>
          </mat-selection-list>

          <div class="center mywork-form-action">
            <a mat-raised-button color="primary" (click)="providerCreate()">Criar Conta</a>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>

  </div>
</div>
