<div class="bounds">

  <div fxLayout="column" fxLayoutAlign="start stretch">

    <mat-toolbar>
      MyJob
      <span class="example-spacer"></span>
      <mat-icon class="xxx" routerLink="/home">power_settings_new</mat-icon>
    </mat-toolbar>

    <div>
      <h1>Historico de Conversas</h1>
      <app-messages-list></app-messages-list>
    </div>


  </div>
</div>




<div class="main-button">
  <button mat-fab color="primary" routerLink="/messages">
    <mat-icon aria-label="Abrir mensagens">send</mat-icon>
  </button>
</div>
