.provider-info{
  .provider-info-image {
    max-height: 250px;
  }

  .provider-info-name {
    font-size: 1.2em;
    font-weight: bold;
  }

  .provider-info-sector {

  }
  .provider-info-fields {

  }
  .provider-info-classification {
    .gold {
      color: goldenrod;
    }
  }

  .provider-info-services {

  }
  .provider-info-services-count {

  }

}


.comments-box {

  padding-left: 20px;
  padding-right: 20px;

  .comments-box-wrap {
    overflow-x: scroll;
    height: 250px;
  }
}


