<div class="bounds">

  <div>

    <mat-toolbar fxFlexAlign="flex-start center">
      <button mat-button class="botao_voltar" routerLink="/customer/home">
        <mat-icon aria-label="Voltar">keyboard_arrow_left</mat-icon>Voltar
      </button>
      <span>Prestador</span>
    </mat-toolbar>

    <div class="provider-info" fxLayout="column" fxLayoutAlign="flex-start center">
      <img class="provider-info-image" [src]="provider.viewImage" style="max-height: 250px;">
      <span class="no-wrap textcenter provider-info-name">{{provider.viewValue}}</span>

      <span class="provider-info-sector"><span class="bold">{{provider.sector.viewValue}}</span> especializado em:</span>

      <mat-chip-list class="provider-info-fields">
        <mat-chip *ngFor="let field of provider.fields">{{field.viewValue}}</mat-chip>
      </mat-chip-list>

      <br>
      <span class="provider-info-services">Nº de Serviços Prestados:</span>
      <span class="provider-info-services-count">365</span>

      <app-classification-stars [classification]="provider.classification"></app-classification-stars>

    </div>

    <div class="comments-box">
      <h1>Comentarios</h1>
      <div class="comments-box-wrap">
        <app-comment-list></app-comment-list>
      </div>
    </div>


    <button class="main-button" mat-fab color="primary" routerLink="/messages/view" >
      <mat-icon aria-label="Enviar Mensagem">send</mat-icon>
    </button>

  </div>
</div>


<!--<div class="main-button">-->
<!--<button mat-fab color="primary">-->
<!--<mat-icon aria-label="Enviar Mensagem">send</mat-icon>-->
<!--</button>-->
<!--</div>-->
