$messagesItemsBorderRadius: 10px;

.messages-field {
  overflow-x: scroll;

  .message-field-item {
    padding: 10px 15px 10px 15px;
    max-width: 80%;
    margin-bottom: 15px;

    .message-field-item-name {
      font-weight: bold;
      display: block;
    }

    .message-field-item-text {
      display: block;
      white-space: pre-wrap;
    }
  }

  .message-field-item.message-field-item-received {
    background-color: #f7fcbb;
    border-bottom-right-radius: $messagesItemsBorderRadius;
    border-top-right-radius: $messagesItemsBorderRadius;
  }

  .message-field-item.message-field-item-sent {
    background-color: #ccfcbe;
    border-bottom-left-radius: $messagesItemsBorderRadius;
    border-top-left-radius: $messagesItemsBorderRadius;
  }

}


.messages-write {
  padding-bottom: 15px;
}
